/* *{
    font-family: 'LuckiestGuy';
} */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'LuckiestGuy';

    margin: 0;
    height: 100vh;



    background: blue;
    color: #c3047f;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../assets/img/background/background.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
    transition: filter 0.5s ease, background-color 0.5s ease;
}

/* Day-Mode */
body.day::before {
    filter: brightness(1.1);
}

/* Night-Mode */
body.night::before {
    filter: brightness(0.4);
    background-color: rgba(0, 0, 50, 0.3);
    /* leichter blauer Overlay */
    background-blend-mode: multiply;
}

h1 {
    color: #c3047f;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.canvas {
    background-color: black;
    border-radius: 16px;
    z-index: 2;
    position: relative;
    /* für media queries */
    /* display: block; */
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.start-screen {
    background-image: url("assets/img/background/background-final-dark-full.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9;
    height: 480px;
    width: 850px;
    border-radius: 16px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-screen-wrapper {
    /* background: linear-gradient(to right, #5767d2, #6bf2c7, #5767d2, #6bf2c7); */
    /* background-color: rgb(30, 30, 94); */
    background-image: url('assets/img/background/water-light-full.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 15;
    height: 480px;
    width: 850px;
    border-radius: 16px;
    position: absolute;
    padding: 8px;
}

.info-screen,
.text {
    width: 830px;
    height: 320px;
    /* font-weight: 500; */
    overflow-y: auto;
    padding: 8px;
}

.info-screen::-webkit-scrollbar,
.text::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.info-screen::-webkit-scrollbar-track,
.text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 6px;
}

/* Handle */
.info-screen::-webkit-scrollbar-thumb,
.text::-webkit-scrollbar-thumb {
    background: #c3047f;
    border-radius: 6px;
}

/* Handle on hover */
.info-screen::-webkit-scrollbar-thumb:hover,
.text::-webkit-scrollbar-thumb:hover {
    background: #c3047f;
}

.info-screen-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: larger;
}

.screen {
    position: absolute;
    width: 850px;
    height: 480px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.651);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    text-align: center;
}

.screen h1 {
    font-size: 48px;
    margin-bottom: 1rem;
    color: #c3047f;
}

.screen p {
    font-size: 24px;
    margin-bottom: 2rem;
}

.screen .btn-wrapper {
    display: flex;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'LuckiestGuy';
    color: #c3047f;
}

.controle {

    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.img-wrapper {
    display: flex;
    align-items: center;

}

.sharkie {
    height: 300px;
    width: 300px;

}

.jelly-fish {
    height: 200px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.controle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legal-contaier {
    font-size: 16px;
}

.start-btn {
    font-size: 36px;
    color: white;
    background-color: #c3047f;
    border-radius: 16px;
    border: solid white 2px;
    height: 64px;
    width: 128px;
}

.copy-right {
    display: flex;
    justify-content: center;
}

.font-16 {
    font-size: 16px;
}

.size {
    height: 35px;
    width: 35px;
}

.size-20 {
    height: 20px;
    width: 20px;
}

.btn-hover:hover {
    transform: scale(1.1);
}

.h1 {
    margin: 0;
}

.text {
    padding: 8px;
}

.hud {
    position: absolute;
    z-index: 5;
}

.panel {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.panel-size {
    height: 40px;
    width: 40px;
}

p {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

span {
    font-size: 24px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 150px;
    width: 100%;

}

.d-none {
    display: none;
}

@media (max-width: 992px) {

    .canvas,
    .info-screen-wrapper,
    .start-screen,
    .screen {
        width: 750px;
        height: 400px;
    }

    .panel {
        width: 750px;
    }

    .panel-size {
        width: 35px;
        height: 35px;
    }

    .info-screen,
    .text {
        width: 710px;
        height: 210px;
    }

    .h1 {
        font-size: 40px;
    }

    .img-wrapper {
        height: 100px;
    }

    .sharkie {
        height: 220px;
        width: 250px;
    }

    .jelly-fish {
        height: 100px;
    }

    .start-btn {
        font-size: 24px;
        /* height: 52px;
        width: 116px; */
    }

    .controle {
        height: 100px;
    }

    .size {
        height: 30px;
        width: 30px;
    }
}

/* @media only screen and(max-width: 850px) {
    .canvas {
        width: 100%;
    }
} */

@media (max-width: 768px) {

    .canvas,
    .info-screen-wrapper,
    .start-screen,
    .screen {
        width: 650px;
        height: 320px;
    }

    .panel {
        width: 650px;
    }

    .info-screen,
    .text {
        width: 610px;
        height: 200px;
        font-size: 18px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    span {
        font-size: 18px;
    }
}

@media (max-width: 576px) {}

@media only screen and(max-height: 576px) {

    .canvas,
    .info-screen-wrapper,
    .start-screen,
    .screen {
        height: 100%;
    }
}

/*  
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 480px
  */